/*
 * Body -> cascades to all unless overridden
 */
body{
    background-color: rgba(0, 0, 0, 0.02);
}
h3{
    color: #2b542c;
}

/*
 * Header
 */
header {
    background-color: #F8F8F8;
}

header ul {
    margin: 0;
}

header #navbar-text{
    margin: 0;
    color: #2b542c;
}

header a,
header p,
header li {
    padding: 1.4rem 0;
    color: #2b542c;
    font-weight: bold;
}

/*
 * Intro Section
 */
section#intro-header {
    background-image: url(../img/intro-image.png);
    background-size: cover;
}

section#intro-header .wrap-headline {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

section#intro-header h1,
section#intro-header h2 {
    color: white;
    text-shadow:
            2px 2px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

section#intro-header h2 {
    font-size: 1.5rem;
}

section#intro-header hr {
    width: 10%;
}

section#intro-header .btn-block {
    color: white;
    text-shadow:
            2px 2px 0 #000,
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}

/*
 * About Section
 */
section#about {
    /*background-color: rgba(0, 0, 0, 0.01);*/
}
section#about img {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

section#about h3 {
    margin-top: 4rem;
}

/*
 * Footer
 */
footer {
    background-color: #F8F8F8;
    color: #0f0f0f;
    margin-top: 3em;
}

footer h5,
footer img {
    margin-top: 5em;
    font-weight: bold;
}

footer address {
    margin-top: 5em;
    margin-bottom: 5em;
    color: #5A5A5A;
}

footer ul {
    margin-bottom: 5em;
}

footer address strong {
    color: #2b542c;
    display: block;
    padding-bottom: 0.62em;
}

footer a {
    font-weight: 300;
    color: #5A5A5A;
}

footer a:hover {
    text-decoration: none;
    color: #2b542c;
}